@import 'susy';

// Setting up the Magic Grid
$total-columns: 10; // 10 columns
$column-width: 4em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 1em; // and 1em padding on the grid container

// Colors

// Red Palette
$white: #fafaf5;
$cream: #f7f7ea;
$red: #c74056;
$maroon: #6e2c30;
$gray: #453f43;
$mauve: #cfc1ba;

// Typography

$headings:'Nova Square', cursive;
$text:'Lato', Verdana, sans-serif;
$font-main:16px;